certifi==2026.4.22
charset-normalizer==3.4.7
flake8==7.3.0
idna==3.15
iniconfig==2.3.0
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
packaging==26.0
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
pytest==9.0.3
requests==2.34.2
rich==14.3.4
urllib3==2.7.0
